<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de produtos</h1>
    <form action="/cadastrar" method="POST">
        <input type="text" placeholder="Digite o nome do produto" id="nome" name="nome"><br>
        <input type="number" placeholder="Digite um preço" id="preco" name="preco"><br>
        <button>cadastrar</button>
    </form>
    
</body>
</html>