#corpo{
    text-align: center;
    
}
button{
    width: 100px;
    height: 50px;
}

body{
    background-color: bisque;
}
table{
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    text-align: center;

    
}
td, th{
    padding: .7em;
    text-align: center;
}